{
	admin off
	auto_https off
}

http://{$SITE_HOST:localhost} {
	root * /srv
	encode zstd gzip

	header {
		-Server
		Permissions-Policy "camera=(), geolocation=(), microphone=()"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
	}

	@immutable path /_fonts/* /_ipx/* /_nuxt/*
	header @immutable Cache-Control "public, max-age=31536000, immutable"

	@html path / /privacy-policy /robots.txt /sitemap.xml
	header @html Cache-Control "no-cache"

	try_files {path} {path}/ {path}.html =404
	file_server {
		disable_canonical_uris
	}

	handle_errors {
		@notFound expression `{err.status_code} == 404`
		handle @notFound {
			rewrite * /404.html
			file_server {
				disable_canonical_uris
			}
		}

		respond "{err.status_code} {err.status_text}"
	}
}
